@model Libreria.Core.Models.Prestito

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="IdUtente" class="form-label">Utenti</label>
                <select asp-for="IdUtente" asp-items="ViewBag.SelectUtenti" class="form-select"></select>
                <span asp-validation-for="IdUtente" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IdLibro" class="form-label">Libri prenotabili</label>
                <select asp-for="IdLibro" asp-items="ViewBag.SelectLibri" class="form-select"></select>
                <span asp-validation-for="IdLibro" class="text-danger"></span>
            </div>

            <input type="submit" value="Crea" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Annulla</a>
        </form>
    </div>
</div>