<div class="text-center">
    <h1 class="display-4">Gestione Biblioteca</h1>
    <p class="lead">Seleziona un'operazione da eseguire:</p>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="list-group">

            <h5 class="list-group-item list-group-item-dark">Prestito Libri</h5>
            <a asp-controller="Prestito" asp-action="Create" class="list-group-item list-group-item-action list-group-item-info">
                📖 Aggiungi un prestito
            </a>

        </div>
    </div>
</div>