<div class="text-center">
    <h1 class="display-4">Gestione Utenti</h1>
    <p>Scegli un'operazione da eseguire:</p>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="list-group">
            <a asp-controller="Utente" asp-action="Create">
                Aggiungi un Nuovo Utente
            </a>
        </div>
    </div>
</div>