@using Libreria.Core.Models;
@model List<Prenotazione>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Id Utente</th>
            <th>Id Libro</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var utente in Model)
        {
            <tr>
                <td>@utente.Id</td>
                <td>@utente.LibroPrenotato</td>
                <td>@utente.IdUtente</td>
                <td>@utente.IdLibro</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-secondary">Annulla</a>