@model Libreria.Core.Models.Prenotazione

<div class="text-center">
    <h1 class="display-4">Prenota</h1>
    <p class="lead">Seleziona un'operazione da eseguire:</p>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="mb-3">
            <label asp-for="IdLibro" class="form-label">Libri prenotabili</label>
            <select asp-for="IdLibro" asp-items="ViewBag.SelectLibri" class="form-select"></select>
            <span asp-validation-for="IdLibro" class="text-danger"></span>
        </div>
    </div>
</div>